[submodule "cs382f2015"]
	path = cs382f2015
	url = git@bitbucket.org:jwenskovitch/cs382f2015.git
[submodule "lab2/scala-common"]
	path = lab2/scala-common
	url = git@github.com:hawkw/scala-common.git
