[submodule "cs382f2015"]
	path = cs382f2015
	url = git@bitbucket.org:jwenskovitch/cs382f2015.git
[submodule "lab2/scala-common"]
	path = lab2/scala-common
	url = git@github.com:hawkw/scala-common.git
[submodule "cs382-f2015-lab4"]
	path = lab4/cs382-f2015-lab4
	url = git@github.com:hawkw/cs382-f2015-lab4.git
